%btn {
	text-transform: uppercase;
	text-align: center;
	height: 55px;
	width: 250px;
	line-height: 55px;
	cursor: pointer;
}
.btn-purple {
	@extend %btn;
	background-color: $purple;
	color: #f9f1fe;
}
.btn-green {
	@extend %btn;
	background-color: $green;
	color: #012312;
}
.header .btn-purple,
.header .btn-green {
	width: 140px;
	height: 45px;
	line-height: 45px;
}